<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Laboradorio de TING</h1>
    <p>haciendo un pequeño portal web</p>
  </body>
</html>
